/*Generics*/
body{
	background-color: #FFF119;
}
@media (max-width: 767px){
	body{
		background-color:black;
	}
	.top-bg{
		margin:0 !important;
	}
	.content{
		margin: 0 !important;
	}
	p{
		padding: 10px;
	}
}

/*===================================================================================*/
/*FRONT PAGE*/
/*Jumbotron*/
.top-bg{
	background-image: url('../Images/asphalt-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 63px 42px 0 42px;
	
}
.logo img{
	margin: auto;
}
.jumbo img{
	margin: auto;
	margin-top: 35px;
}
.jumbo-text img{
	margin: auto;
	margin-top: 30px;
	padding-bottom: 30px;
}


/*Main Content*/
.content{
	background-image: url('../Images/raceinfo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 42px 0 42px;
}
.race-info-text img{
	
	margin: auto;
	margin-top: 30px;
}
.content-text img{
	
	margin: auto;
	margin-top: 45px;;
    }
.border img{
	
	margin: auto;
	margin-top: 30px;
}
/*===================================================================================*/
/*NAVIGATION*/
.nav{
	margin:auto;
	margin-top: 60px;
	
	margin-bottom: 80px;
}
.register img,
.route img,
.schedule img,
.gallery img{
	padding:10px;

}


/*===================================================================================*/
/*ABOUT US*/
h1{
	text-align: center;
}
.about-p{
	font-size: 18px;
	
	padding:10px 100px 10px 100px;
}