/*GENERICS*/
body{
	background-color: #FFF042;
}
@media (max-width: 767px){
	body{
		background-color:black;
	}
	.top-bg{
		margin:0 !important;
	}
	.content{
		margin: 0 !important;
	}
	p{
		padding: 10px;
	}
	.mobile-nav{
		font-size: 14px;
		color: black;
		margin-left:20px;
		margin-top:40px !important;
	}
	.mobile-nav-wrapper{
		margin-top: 20px !important;
	}
    #sponsor-panel{
        background-color: #FFF042 !important;
        margin:0;
        padding:20px;
    }
	.sponsors-table td {
		width: 25%;
	}
}

p, h1, h2, h3, h4, h5, h6, span, li {
	font-family: "myriad-pro",sans-serif;
}
p, h1, h2, h3, h4, h5, h6, li{
	color: #FFF042;
}
p, li{
	font-size: 18px;
	letter-spacing: 1.2px;
}
.section-icon-text{
    color:#6E6E6E;
    font-size: 23px;
}
.icon-background{
	margin: auto;
	margin-top: 60px;
	margin-bottom: 20px;
	background-color: #FFF042;
	height:180px;
	width: 180px;
	border-radius: 50%;
	border: solid 4px black;
}
.panel{
	background-color: rgba(0,0,0,0.8);
	margin: 10px;
	padding:20px;
	border: solid 4px #FFF042 !important;
}

	.sponsors-table td {
		width: 25%;
	}
.hidden-sponsors{
    margin:auto;
    padding: 10px;
}
#race-info-text,
#kids-race-text,
#route-text,
#schedule-text,
#register-text,
#sponsors-text{
    text-align: center;
}
/*===================================================================================*/
/*JUMBOTRON*/
/*.top-bg{
	background-image: url('../images/asphalt-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 63px 42px 0 42px;

}*/
#logo-wrapper{
	position: relative;
	height:40px;
	max-width:100%;
}
#logo{
	position: absolute;
     top: 0;
     right: 0;
     bottom:30;
     left: 0;
     margin: auto;
	z-index:1;
}
#stifel{
    position: absolute;
    /*top: 0;*/
    /*right: 40;*/
    /*bottom:50;*/
    /*left: 0;*/
    margin-top: 30px;
    margin-left: 40px;
    z-index:1;
}
#city{
    position: absolute;
    /*top: 0;*/
    /*right: 0;*/
    /*bottom:40;*/
    /*left: 40;*/
    margin-top:10px;
    margin-left:120px;
    z-index:1;
}
.jumbo img{
	margin: auto;
	margin-top: 35px;
}
.jumbo-text img{
	margin: auto;
	margin-top: 30px;
	padding-bottom: 30px;
}
.callout {
	text-align: center;
	margin: 30px 50px 30px 50px;
	color: #FFF042;
}

.callout h1 {
	font-weight: 600;
}

.callout h2 {
	font-family: "bello-pro",sans-serif;
}
/*============================================================================*/
/*CAROUSEL*/
#carousel-wrapper{
	background-image: url('../images/asphalt-bg.jpg');
	background-repeat: none;
	background-size: cover;
	padding-top:80px;
	padding-bottom:20px;
	margin: 110px 0 0 0 !important;
}
#carousel-slider{
	max-width: 940px;
	max-height: 340px;
	margin: auto;
}
/*===================================================================================*/
/*NAVIGATION*/
.navbar {
	background-color: #FFF042;
	border-bottom: none;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0px;
}

.navbar .sprite {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

#navbar a {
	padding: 0px;
}

.navbar p {
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 0px;
	color:#6E6E6E;
}
/*=================================================================================*/
/*VIDEO BACKGROUND*/
.video-section {
	height: 500px;
	width: 100%;
	z-index: -100;
}

.video-section .buttonBar {
	display:none;
}

.player {
	font-size: 1px;
}

.video-section.video-fixed {
	position: fixed !important;
	top: 135px;
}
/*==================================================================================*/
/*SPRITES*/
.sprite { background: url('../images/icon-sprite.png') no-repeat top left; }
.sprite.kids { background-position: 5px 0px; width: 86px; height: 75px;}
.sprite.race-info { background-position: -82px 3px; width: 52px; height: 75px;}
.sprite.register { background-position: -144px 0px; width: 47px; height: 75px; }
.sprite.route { background-position: -201px 2px; width: 73px; height: 75px; }
.sprite.schedule { background-position: -286px 0px; width: 61px; height: 75px; }
.sprite.sponsors { background-position: -354px -3px; width: 78px; height: 75px; }

/*===================================================================================*/
/*RACE INFO*/
.sprite.race-info-section {
    background-position: -82px 3px; width: 52px; height: 75px;
    margin:auto;
    margin-top: 25px;
}
{
	margin-left: 30px !important;
}

.content{
	padding-top: 500px; /*Padding creates video viewing area*/
}
.content-text img{
	margin: auto;
	margin-top: 45px;;
}
#payout-image{
	margin:auto;
}
#payout-image-wrapper{	
	margin:auto;
}
.race-info-spacing{
	margin-top: 40px;
}
#payout-title{
    text-align: center;
}
/*===================================================================================*/
/*KIDS RACE*/
.sprite.kids-race-section {
    background-position:5px 0px; width: 86px; height: 75px;;
    margin:auto;
    margin-top: 25px;
}

#payout-title{
    text-align: center;
}
/*===================================================================================*/
/*ROUTE*/
.sprite.route-section {
    background-position:-201px 2px; width: 73px; height: 75px;
    margin:auto;
    margin-top: 30px;
}
#map-title{
	margin:auto;
	text-align: center;
}
.route-image{
	margin: auto;
	margin-top: 40px;
}
/*#route-title{
    text-align: center;
    border-bottom: black 4px solid;
    margin-top: 80px;
    margin-bottom: 40px;
}*/
#route,
.table
{
    margin: 0 60px 20px 60px;
}

/*====================================================================================*/
/*SCHEDULE*/
.sprite.schedule-section {
    background-position: -286px 0px; width: 61px; height: 75px;
    margin:auto;
    margin-top: 30px;
}
.table{
	font-size: 18px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border: none !important;
	color: #FFF042;
}
td{
	border: none !important;
}
/*====================================================================================*/
/*REGISTER*/
.sprite.register-section {
    background-position: -144px 0px; width: 47px; height: 75px;
    margin:auto;
    margin-top: 30px;
}

/*====================================================================================*/
/*SPONSERS*/
.sprite.sponsors-section {
    background-position: -354px -3px; width: 78px; height: 75px;
    margin:auto;
    margin-top: 30px;
}
#available-sponsorships{
    list-style: none;
}
